<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Dashboard Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
		<style type="text/css">
			/* Chart.js */
			@-webkit-keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			@keyframes chartjs-render-animation {
				from {
					opacity: 0.99
				}
				to {
					opacity: 1
				}
			}
			.chartjs-render-monitor {
				-webkit-animation: chartjs-render-animation 0.001s;
				animation: chartjs-render-animation 0.001s;
			}
		</style>
	</head>
	<body>
		<!--引入topbar-->
		<div th:replace="~{commons/bar::topbar}"></div>

		<div class="container-fluid">
			<div class="row">
				<!--引入sidebar-->
				<div th:replace="~{commons/bar::sidebar(activeUri='emps')}"></div>
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
					<h2><a class="btn btn-sm btn-success" th:href="@{/emp}">新規登録</a></h2>
					<div class="table-responsive">
						<table class="table table-striped table-sm">
							<thead>
							<tr>
								<th width="10%">#</th>
								<th width="15%">社員名</th>
								<th width="20%">メールアドレス</th>
								<th width="10%">性別</th>
								<th width="15%">部署</th>
								<th width="15%">入社日</th>
								<th width="20%">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="emp:${pageInfo.list}">
								<td th:text="${emp.id}"></td>
								<td th:text="${emp.userName}"></td>
								<td th:text="${emp.email}"></td>
								<td th:text="${emp.gender}==0?'女':'男'"></td>
								<td th:text="${emp.department.departmentName}"></td>
								<td th:text="${#dates.format(emp.hireDate, 'yyyy/MM/dd')}"></td>
								<td>
									<a class="btn btn-sm btn-primary" th:href="@{/emp/}+${emp.id}">変更</a>
									<button th:attr="del_uri=@{/emp/}+${emp.id}" class="btn btn-sm btn-danger deleteBtn">削除
									</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<!--分页逻辑↓↓↓-->
					<div class="row">
						<div class="col-md-10">
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li><a href="#" th:href="@{/emps(pageNum=1)}" class="btn btn-sm btn-link">首页</a></li>
									<li th:if="${pageInfo.hasPreviousPage}">
										<a th:href="@{/emps?pageNum=}+${pageInfo.pageNum-1}" class="btn btn-sm btn-link">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li th:each="page_Num:${pageInfo.navigatepageNums }">
										<a th:href="@{/emps?pageNum=}+${page_Num}" class="btn btn-sm btn-link">[[${page_Num}]]</a>
									</li>
									<li th:if="${pageInfo.hasNextPage}">
										<a th:href="@{/emps?pageNum=}+${pageInfo.pageNum+1}" class="btn btn-sm btn-link">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
									<li><a href="#" th:href="@{/emps?pageNum=}+${pageInfo.pages}" class="btn btn-sm btn-link">末页</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-md-2">当前[[${pageInfo.pageNum}]]页，总[[${pageInfo.pages}]]页，总[[${pageInfo.total}]]条</div>
					</div>
					<!--分页逻辑↑↑↑-->
				</main>
				<form id="deleteEmpForm" method="post">
					<input type="hidden" name="_method" value="delete">
				</form>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"></script>
		<script type="text/javascript" src="asserts/js/popper.min.js"></script>
		<script type="text/javascript" src="asserts/js/bootstrap.min.js"></script>
		<!-- Icons -->
		<script type="text/javascript" src="asserts/js/feather.min.js"></script>
		<script>
			feather.replace()
		</script>
		<script>
			$(function () {
				$(".deleteBtn").click(function () {
					$("#deleteEmpForm").attr("action", $(this).attr("del_uri")).submit();
					return false;
				});
			});
		</script>
	</body>
</html>