<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>success</h1>
<div th:text="${hello1}"></div>
<div th:text="${hello2}"></div>
</body>
</html>